body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

button {
    border: none;
    padding: 15px 40px;
    background-color: hsl(237deg 100% 87%);
    border-radius: 25px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    cursor: pointer;
}